section 4 ... Building Images.md/react-app/node_modules/ 
section 5 Working with Containers/react-app/node_modules/ 
.vscode/
docker_files/
hello-docker/
docker_files.zip 
section 4 ... Building Images.md/react-app/ 
section 4 ... Building Images.md/react-app_compressed/ 
section 6 Running Multi-container Apps/section6-vidly/ 
